<ul>
  <% @folders.each do |folder| %>
    <li><%= folder[:title] %>
      <ul>
        <% folder[:feeds].each do |feed| %>
          <li><a href="<%= feed[:siteurl] %>"><%= feed[:title] %></a> &mdash; <a href="<%= feed[:feedurl] %>">RSS</a></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>