<p>Open your Google Reader <code>subscriptions.xml</code> file to see it and (later, maybe) share with your friends.</p>
<p>Download your file from <a href="https://www.google.com/reader/subscriptions/export?hl=en">this direct download url</a>. If that doesn't work, get your file from <a href="https://www.google.com/takeout/#custom:reader">Google Takeout</a> (click "Create Archive").</p>
<button id="file_button">Open your file</button>
<form action="/" method="POST" id="file_form">
  <input type="file" name="feed" id="file_picker" style="display:none">
  <textarea name="feed_text" id="feed_text" style="display:none"></textarea>
  <!-- <input type="submit"> -->
</form>

<p><a href="https://github.com/maxjacobson/souffle">Fork me on GitHub</a></p>
